body {
    background: black;
    margin: 0px;
    font-family: "Montserrat", "Avenir";
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%; /*same as saying: height of square = 30%*/
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background 0.5s;
    --webkit-transition: background 0.5s;
    --moz-transition: background 0.5s;
    /* these two are for website support for transitions */
}

#container{
    margin: 0 auto; /*0 margin on the top and bottom, auto margin on left and right*/
    max-width: 600px;
}

h1 {
    color: white;
    text-align: center;
    padding: 2%;
    margin: 0px;
    background: cadetblue;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 1.2;
}

h1 span {
    font-size: 2em;
}

button {
    justify-content: center;
}

#stripe {
    background: white;
    height: 30px;
    text-align: center;
    padding-top: 0px;
    margin-bottom: 20px;
}

#result{
    color: black;
    display: inline-block;
    width: 20%;
}

.selected{
    background: cadetblue;
    color: white;
}

button {
    border: none;
    margin: 0;
    height: 100%;
    color: cadetblue;
    font-size: inherit;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.3s;
    /* Whenever the property changes on any button, it should take  s. */
    --webkit-transition: all 0.5s;
    --moz-transition: all 0.5s;
}

button:hover{
    color:white;
    background: cadetblue;
}
